<main class="mx-10 mt-6 mb-0">
  <div class="flex flex-col gap-4 w-full mb-4 lg:grid lg:grid-cols-2">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:flex lg:justify-start lg:items-center lg:w-1/2">
      <p-select fluid="true" [options]="conexiones" [(ngModel)]="conexionSeleccionada" optionLabel="name"
        placeholder="Selecciona una conexión" (onChange)="loadPozosData()" />
      <div class="lg:hidden">
        <p-datepicker fluid="true" [(ngModel)]="date" [dateFormat]="tipoReporte === 'mensual' ? 'yy/mm' : 'yy/mm/dd'"
          [placeholder]="tipoReporte === 'mensual' ? 'Seleccione mes y año' : 'Seleccione una fecha'" [view]="viewMode"
          [showIcon]="true" />
      </div>

      <p-button class="hidden lg:block" fluid="true" label="Reconectar" icon="pi pi-refresh" (click)="loadPozosData()"
        [disabled]="!conexionSeleccionada.name">
      </p-button>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 lg:flex lg:justify-end lg:items-center">
      <div class="hidden lg:block">
        <p-datepicker fluid="true" [(ngModel)]="date" [dateFormat]="tipoReporte === 'mensual' ? 'yy/mm' : 'yy/mm/dd'"
          [placeholder]="tipoReporte === 'mensual' ? 'Seleccione mes y año' : 'Seleccione una fecha'" [view]="viewMode"
          [showIcon]="true" />
      </div>
      <p-button class="lg:hidden" fluid="true" label="Reconectar" icon="pi pi-refresh" (click)="loadPozosData()"
        [disabled]="!conexionSeleccionada.name">
      </p-button>
      <p-button fluid="true" label="Generar reporte" icon="pi pi-file-excel" [disabled]="isGenerarReporteDisabled()"
        [loading]="loadingReporte()" (click)="generearReporte()">
      </p-button>
    </div>
  </div>
  <p-table [value]="pozosData" [(selection)]="pozosSeleccionados" dataKey="IdPozo" [scrollable]="true"
    scrollHeight="500px" [paginator]="true" [rows]="10" [tableStyle]="{ 'min-width': '100%' }"
    [rowsPerPageOptions]="[5, 10, 20]" [loading]="loading" showGridlines stripedRows>
    <ng-template #header>
      <tr>
        <th class="w-auto">Num.</th>
        <th class="w-full">Nombre del pozo</th>
        <th class="w-auto flex flex-col text-center justify-center items-center">Todos ({{pozosData.length}})
          <p-tableHeaderCheckbox />
        </th>
      </tr>
    </ng-template>
    <ng-template #body let-pozosData let-index="rowIndex">
      <tr>
        <td class="text-center flex flex-col justify-center items-center">{{ index + 1 }}</td>
        <td>{{ pozosData.NombrePozo }}</td>
        <td class="flex text-center justify-center items-center">
          <p-tableCheckbox [value]="pozosData" />
        </td>
      </tr>
    </ng-template>
  </p-table>
  <p-toast position="top-center" />
</main>