/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@import "primeicons/primeicons.css";

/* Configuración global de fuente Montserrat */
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}